  @media (max-width: 1680px) {

    }
  @media (max-width: 1440px) {

    }
  @media (max-width: 1366px) {

    }
  @media (max-width: 1280px) {

    }
  @media (max-width: 1024px) {

    }
  @media (max-width: 768px) {
   .left_side, .right_side {
     display: none;
   }
   .grid {
     height: 133.333vw;
     background-position: 23% 100%;
   }
   .grid h1, h2 {
    display: none;
   }
   .top_side_m, .bottom_side_m {
     height: 50vh;
     width: 100%;
     vertical-align: top;
     display: inline-block;
     top: 0%;
   }
   .texture {
    height: 133.333vw;
   }
   .block_1 {
     width: 71.016vw;
     height: 13.932vw;
     top: 0%;
     left: 16%;
   }
   .icons {
     width: 100%;
     height: 100%;
     top: 14%;
     left: 3.5%;
   }
   .icon_paint {
     width: 7.5vw;
     height: 7.5vw;
     top: 9%;
     left: 2.3%;
  }
  .circle_2 {
    width: 8.5vw;
    height: 8.5vw;
    top: 3%;
    left: -65.5%;
  }
  .icon_money {
    width: 7.5vw;
    height: 7.5vw;
    top: 9%;
    left: 6.4%;
  }
  .circle_3 {
    width: 8.5vw;
    height: 8.5vw;
    top: 3%;
    left: -63.5%;
  }
  .icon_light {
    width: 7.5vw;
    height: 7.5vw;
    top: 9.7%;
    left: 10.6%;
  }
  .circle_4 {
    width: 8.5vw;
    height: 8.5vw;
    top: -61%;
    left: 32%;
  }
  .icon_sun {
    width: 7.5vw;
    height: 7.5vw;
    top: 9%;
    left: 14.5%;
  }
  .circle_5 {
    width: 8.5vw;
    height: 8.5vw;
    top: -61%;
    left: 33.8%;
  }
  .icon_food {
    width: 6.7vw;
    height: 6.7vw;
    top: 11%;
    left: 19%;
  }
  .circle_6 {
    width: 8.5vw;
    height: 8.5vw;
    top: -61%;
    left: 36%;
  }
  .icon_graffiti {
    width: 7.5vw;
    height: 7.5vw;
    top: 9%;
    left: 24.3%;
  }
  .circle_7 {
    width: 8.5vw;
    height: 8.5vw;
    top: -61%;
    left: 38.5%;
  }
}
  @media (max-width: 320px) {

    }
