@media (min-width: 1680px) {
 .top_side, .bottom_side {
   display: none;
 }
 .texture {
   width: 100%;
 }
  }
  @media (max-width: 1680px) {
   .top_side, .bottom_side {
     display: none;
   }
    }
  @media (max-width: 1440px) {
    .top_side, .bottom_side {
      display: none;
    }
    }
  @media (max-width: 1366px) {
    .top_side, .bottom_side {
      display: none;
    }
    }
  @media (max-width: 1280px) {
    .top_side, .bottom_side {
      display: none;
    }
    }
  @media (max-width: 1024px) {
    .top_side, .bottom_side {
      display: none;
    }
    }
  @media (max-width: 768px) {
   .left_side, .right_side {
     display: none;
   }
   .grid {
     height: 133.333vw;
     background-position: 23% 100%;
   }
   .grid h1, h2 {
    display: none;
   }
   .main {
     height: 133.333vw;
   }
   .top_side {
     height: 15vh;
     width: 100%;
     vertical-align: top;
     display: inline-block;
     position: absolute;
     top: 0%;
     bottom: none;
   }
   .bottom_side {
     top: none;
     bottom: 0%;
     height: 85vh;
     width: 100%;
     vertical-align: bottom;
     display: inline-block;
     position: absolute;
   }
   .texture {
    height: 133.333vw;
   }
   .icons_m img {
     width: 85%;
     height: 85%;
     margin-top: 8%;
   }
   .block_1_m {
     position: relative;
     vertical-align: top;
     display: flex;
     background-color: rgba(100, 100, 112, 0.55);
     width: 71.016vw;
     height: 13.932vw;
     top: 0%;
     left: 14.5%;
   }
   .icons_m {
     vertical-align: top;
     position: relative;
     display: flex;
     width: 100%;
     height: 100%;
     top: 0%;
     left: 0%;
     padding: 0% 0%;
     justify-content: space-evenly;
     text-align: center;
     align-items: center;
   }
   .icon_paint_m {
     position: relative;
     vertical-align: top;
     display: inline-block;
     width: 9vw;
     height: 9vw;
  }
  .circle_2_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    border: 0.238vw solid;
    border-radius: 6vw;
    color: white;
    width: 9vw;
    height: 9vw;
  }
  .icon_money_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 9vw;
    height: 9vw;
  }
  .circle_3_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    border: 0.238vw solid;
    border-radius: 6vw;
    color: white;
    width: 9vw;
    height: 9vw;
  }
  .icon_light_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 9vw;
    height: 9vw;
  }
  .circle_4_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    border: 0.238vw solid;
    border-radius: 6vw;
    color: white;
    width: 9vw;
    height: 9vw;
  }
  .icon_sun_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 9vw;
    height: 9vw;
  }
  .circle_5_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    border: 0.238vw solid;
    border-radius: 6vw;
    color: white;
    width: 9vw;
    height: 9vw;
  }
  .icon_food_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 9vw;
    height: 9vw;
  }
  .circle_6_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    border: 0.238vw solid;
    border-radius: 6vw;
    color: white;
    width: 9vw;
    height: 9vw;
  }
  .icon_graffiti_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 9vw;
    height: 9vw;
  }
  .circle_7_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    border: 0.238vw solid;
    border-radius: 6vw;
    color: white;
    width: 9vw;
    height: 9vw;
  }
  .block_temperature_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 30%;
    height: 10%;
    top: 36.5%;
    left: 3%;
  }
  .cels_m {
    position: relative;
    display: inline-block;
    font-size: 5.7vw;
    font-family: Helvetica;
    left: 41%;
    top: -136%;
  }
  .block_temperature_scale_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 31%;
    height: 6%;
    top: 47.5%;
    left: -28%;
  }
}
  .skale_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
  }
  .skale_button_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 94%;
    height: 94%;
    bottom: 95%;
    left: 0%;
  }
}
  @media (max-width: 320px) {

    }
