  @media (max-width: 1680px) {
   .top_side, .bottom_side {
     display: none;
   }
    }
  @media (max-width: 1440px) {
    .top_side, .bottom_side {
      display: none;
    }
    }
  @media (max-width: 1366px) {
    .top_side, .bottom_side {
      display: none;
    }
    }
  @media (max-width: 1280px) {
    .top_side, .bottom_side {
      display: none;
    }
    }
  @media (max-width: 1024px) {
    .top_side, .bottom_side {
      display: none;
    }
    }
  @media (max-width: 768px) {
   .left_side, .right_side {
     display: none;
   }
   .grid {
     height: 133.333vw;
     background-position: 23% 100%;
   }
   .grid h1, h2 {
    display: none;
   }
   .top_side {
     height: 50vh;
     width: 100%;
     vertical-align: top;
     display: inline-block;
     position: relative;
     top: 0%;
   }
   .bottom_side {
     top: none;
     bottom: 0%;
     height: 50vh;
     width: 100%;
     vertical-align: top;
     display: inline-block;
     position: relative;
   }
   .texture {
    height: 133.333vw;
   }
   .icons_m img {
     width: 85%;
     height: 85%;
     margin-top: 8%;
   }
   .block_1_m {
     position: relative;
     vertical-align: top;
     display: flex;
     background-color: rgba(100, 100, 112, 0.55);
     width: 71.016vw;
     height: 13.932vw;
     top: 0%;
     left: 14.5%;
   }
   .icons_m {
     vertical-align: top;
     position: relative;
     display: flex;
     width: 100%;
     height: 100%;
     top: 0%;
     left: 0%;
     padding: 0% 0%;
     justify-content: space-evenly;
     text-align: center;
     align-items: center;
   }
   .icon_paint_m {
     position: relative;
     vertical-align: top;
     display: inline-block;
     width: 9vw;
     height: 9vw;
  }
  .circle_2_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    border: 0.238vw solid;
    border-radius: 6vw;
    color: white;
    width: 9vw;
    height: 9vw;
  }
  .icon_money_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 9vw;
    height: 9vw;
  }
  .circle_3_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    border: 0.238vw solid;
    border-radius: 6vw;
    color: white;
    width: 9vw;
    height: 9vw;
  }
  .icon_light_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 9vw;
    height: 9vw;
  }
  .circle_4_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    border: 0.238vw solid;
    border-radius: 6vw;
    color: white;
    width: 9vw;
    height: 9vw;
  }
  .icon_sun_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 9vw;
    height: 9vw;
  }
  .circle_5_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    border: 0.238vw solid;
    border-radius: 6vw;
    color: white;
    width: 9vw;
    height: 9vw;
  }
  .icon_food_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 9vw;
    height: 9vw;
  }
  .circle_6_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    border: 0.238vw solid;
    border-radius: 6vw;
    color: white;
    width: 9vw;
    height: 9vw;
  }
  .icon_graffiti_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 9vw;
    height: 9vw;
  }
  .circle_7_m {
    position: relative;
    vertical-align: top;
    display: inline-block;
    border: 0.238vw solid;
    border-radius: 6vw;
    color: white;
    width: 9vw;
    height: 9vw;
  }
}
  @media (max-width: 320px) {

    }
