  body .main {
    opacity: 0.98;
  }
  .texture {
    opacity: 0.2;
    position: absolute;
    z-index: 1000;
    overflow: hidden;
    height: 62.500vw;
  }
  .right_side, .left_side {
      height: 100%;
      width: 50%;
      vertical-align: top;
      position: relative;
      display: inline-block;
      top: 0%;
    }
  .grid {
    background-color: rgba(21, 48, 60, 1);
    background-image: url("images/city.svg");
    background-size: cover;
    }
  .city {
    position: relative;
    display: block;
  }
  .main {
    margin: 0% 0%;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 62.500vw;
    padding: 0% 0%;
    overflow: hidden;
  }
  body img {
    width: 100%;
    height: 100%;
  }
  .house_dyn {
    position: relative;
    vertical-align: top;
    display: block;
    width: 64%;
    height: 95%;
    top: 4.1%;
    left: 18%;
    z-index: 1;
  }
  .shadows {
    position: relative;
    vertical-align: top;
    display: block;
    width: 64%;
    height: 91%;
    bottom: 183.8%;
    left: 18%;
    z-index: 2;
  }
  .house_stat {
    position: relative;
    vertical-align: top;
    display: block;
    width: 68%;
    height: 97%;
    bottom: 92%;
    left: 16%;
    z-index: 3;
  }
  .window_1 {
    position: relative;
    vertical-align: top;
    display: block;
    width: 10.5%;
    height: 8.5%;
    bottom: 260.8%;
    left: 44.7%;
    z-index: 4;
  }
  .window_2 {
    position: relative;
    vertical-align: top;
    display: block;
    width: 10.5%;
    height: 8.5%;
    bottom: 251.2%;
    left: 32.5%;
    z-index: 4;
  }
  .window_3 {
    position: relative;
    vertical-align: top;
    display: block;
    width: 10.5%;
    height: 8.5%;
    bottom: 259.7%;
    left: 56.7%;
    z-index: 4;
  }
  .window_4 {
    position: relative;
    vertical-align: top;
    display: block;
    width: 10.5%;
    height: 8.5%;
    bottom: 253%;
    left: 32.5%;
    z-index: 4;
  }
  .window_5 {
    position: relative;
    vertical-align: top;
    display: block;
    width: 10.5%;
    height: 8.5%;
    bottom: 261.5%;
    left: 56.7%;
    z-index: 4;
  }
  .window_6 {
    position: relative;
    vertical-align: top;
    display: block;
    width: 45.5%;
    height: 18.5%;
    top: -251.5%;
    left: 27.3%;
    z-index: 2;
  }
  .doors_roof {
    position: relative;
    vertical-align: top;
    display: block;
    width: 59.7%;
    height: 24.7%;
    top: -271.3%;
    left: 16.4%;
    z-index: 4;
  }
  .doors_roof img {
    width: 112%;
    height: 112%;
  }
  .moon {
    width: 26.786vw;
    height: 26.786vw;
    position: relative;
    vertical-align: top;
    display: block;
    background-color: rgba(254, 233, 123, 1);
    border-radius: 50%;
    top: -387.5%;
    left: 60%;
    z-index: 0;
  }
  .icon_info {
    position: relative;
    vertical-align: top;
    display: block;
    width: 6%;
    height: 6%;
    top: -277.8%;
    left: 88%;
    z-index: 4;
  }
  .block_1 {
    width: 17.857vw;
    height: 28vw;
    position: absolute;
    vertical-align: top;
    display: block;
    background-color: rgba(100, 100, 112, 0.55);
    top: 30%;
    right: 0%;
  }
  .circles {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
  }
  .circle_1 {
    width: 4.524vw;
    height: 4.524vw;
    position: relative;
    display: block;
    vertical-align: top;
    border: 0.238vw solid;
    border-radius: 6vw;
    color: white;
    top: -284.8%;
    left: 86%;
  }
  .circle_2 {
    width: 6vw;
    height: 6vw;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 0.238vw solid;
    border-radius: 6vw;
    color: white;
    bottom: 56%;
    left: 7%;
  }
  .circle_3 {
    width: 6vw;
    height: 6vw;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 0.238vw solid;
    border-radius: 6vw;
    color: white;
    bottom: 56%;
    left: 18%;
  }
  .icon_paint {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 30%;
    height: 30%;
    top: 2%;
    left: 10.3%;
  }
    .icon_money {
      position: relative;
      vertical-align: top;
      display: inline-block;
      width: 24%;
      height: 24%;
      top: 4.3%;
      left: 30.6%;
    }
    .circle_4 {
      width: 6vw;
      height: 6vw;
      position: relative;
      display: inline-block;
      vertical-align: top;
      border: 0.238vw solid;
      border-radius: 6vw;
      color: white;
      top: -48%;
      left: 7%;
    }
    .icon_light {
      position: relative;
      vertical-align: top;
      display: inline-block;
      width: 20%;
      height: 20%;
      top: 38%;
      right: 41.4%;
    }
    .circle_5 {
      width: 6vw;
      height: 6vw;
      position: relative;
      display: inline-block;
      vertical-align: top;
      border: 0.238vw solid;
      border-radius: 6vw;
      color: white;
      top: -49%;
      left: 18%;
    }
    .icon_sun {
      position: relative;
      vertical-align: top;
      display: inline-block;
      width: 31%;
      height: 31%;
      top: 1%;
      left: 58.4%;
    }
    .circle_6 {
      width: 6vw;
      height: 6vw;
      position: relative;
      display: inline-block;
      vertical-align: top;
      border: 0.238vw solid;
      border-radius: 6vw;
      color: white;
      top: -40%;
      left: 7%;
    }
    .icon_food {
      position: relative;
      vertical-align: top;
      display: inline-block;
      width: 21%;
      height: 21%;
      top: 38.5%;
      left: -18%;
    }
    .circle_7 {
      width: 6vw;
      height: 6vw;
      position: relative;
      display:inline-block;
      vertical-align: top;
      border: 0.238vw solid;
      border-radius: 6vw;
      color: white;
      top: -40%;
      left: 18%;
    }
    .icon_graffiti {
      position: relative;
      vertical-align: top;
      display: inline-block;
      width: 19%;
      height: 19%;
      top: 39.5%;
      left: 10%;
    }
    .icon_temp {
      position: relative;
      vertical-align: top;
      display: inline-block;
      width: 95%;
      height: 95%;
      bottom: 0%;
      left: 0%;
    }
    .icons {
      width: 100%;
      height: 100%;
      top: 2%;
      position: relative;
      display: block;
    }
    .block_temperature {
      position: relative;
      vertical-align: top;
      display: inline-block;
      width: 98%;
      height: 23%;
      top: 3%;
      left: 11%;
    }
    .block_temperature_scale {
        position: relative;
        vertical-align: top;
        display: inline-block;
        width: 93%;
        height: 14%;
        top: 3%;
        left: 12%;
      }
    .skale {
      position: relative;
      vertical-align: top;
      display: inline-block;
      width: 100%;
      height: 100%;
      top: 0%;
      left: 0%;
    }
    .skale_button {
      position: relative;
      vertical-align: top;
      display: inline-block;
      width: 100%;
      height: 75%;
      bottom: 87%;
      left: 0%;
    }
    .block_coins {
        position: relative;
        vertical-align: top;
        display: inline-block;
        width: 93%;
        height: 18%;
        top: -15%;
        left: 119%;
      }
      .icon_coins {
        position: relative;
        vertical-align: top;
        display: inline-block;
        width: 45%;
        height: 111%;
        top: 0%;
        left: 0%;
      }
      .cels {
        font-size: 2.7vw;
        font-family: Helvetica;
        left: 33%;
        top: 26%;
      }
      .coins {
        font-size: 4vw;
        font-family: Helvetica;
        left: 53%;
        top: 35%;
      }
