  .grid {
    margin: 0% 0%;
    position: relative;
    max-width: 100%;
    height: 62.500vw;
    padding: 0% 0%;
  }
  h1 {font-family: Parmigiano Caption Pro Bold; font-size: 3.274vw; color: white; vertical-align: top; text-align: left; position: absolute; top: 2%; left: 0.595vw;}
  h2 {font-family: Parmigiano Caption Pro Bold; font-size: 2.083vw; color: white; vertical-align: top; text-align: left; position: absolute; top: 13%; left: 0.595vw;}
  p {font-family: Helvetica; font-size: 1.667vw; color: white; vertical-align: top; text-align: left; position: absolute; top: 13%; left: 0.595vw;}
