  .grid {
    margin: 0% 0%;
    padding: 0px 0.893vw;
    position: relative;
    width: 100%;
    height: 142vw;
  }
  h1 {font-family: Parmigiano Caption Pro Bold; font-size: 3.274vw; color: black; padding-top: 1%; vertical-align: top; text-align: left;}
  h2 {font-family: Parmigiano Caption Pro Bold; font-size: 2.083vw; color: black; padding-top: 0%; vertical-align: top; text-align: left;}
